html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh; /* Make sure the entire viewport is filled */
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", serif;
}

.content {
  flex: 1; /* Pushes the footer to the bottom */
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
